*{

}
.sidebarBtn{
    -fx-background-color:#FFFFFF;
    -fx-background-radius:15px;
}
.sidebarBtn:hover {
    -fx-background-color: #f9f1f1;
}
#main{
    -fx-background-color: #DC143C;
}
#sidebar{
    -fx-background-color:#ae362e;
    -fx-background-radius:0px 15px 15px 0px;
}
.services{
    -fx-background-radius:15px;
}
.service-button{
    -fx-background-radius:15px;
    -fx-background-color:#ae362e;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.service-button:hover {
    -fx-background-color: #E34234;
}