*{

}
.sidebarBtn{
    -fx-background-color:#FFFFFF;
    -fx-background-radius:15px;
}
.sidebarBtn:hover {
    -fx-background-color: #f9f1f1;
}
#main{
    -fx-background-color: #DC143C;
}
#sidebar{
    -fx-background-color:#e89015;
    -fx-background-radius:0px 15px 15px 0px;
}
.services{
    -fx-background-radius:15px;
}
.service-button{
    -fx-background-radius:15px;
    -fx-background-color:#ae362e;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.service-button:hover {
    -fx-background-color: #E34234;
}
/* Style for category buttons */
.category-button {
    -fx-background-color: #4CAF50; /* Green background */
    -fx-text-fill: white; /* White text color */
    -fx-font-size: 16px; /* Font size */
    -fx-padding: 10px; /* Padding around the text */
    -fx-alignment: center; /* Center align text */
    -fx-pref-width: 200px; /* Preferred width */
}

/* Style for item buttons */
.item-button {
    -fx-background-color: #2196F3; /* Blue background */
    -fx-text-fill: white; /* White text color */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 5px 10px; /* Padding (vertical, horizontal) */
    -fx-min-width: 50px; /* Minimum width */
    -fx-max-width: 300px; /* Maximum width */
    -fx-pref-height: 40px; /* Preferred height */
}
.multiple{
    -fx-background-color:#2c479d;
}
.endOrder{
    -fx-background-color:green;
}